.duvidas-container {
  background: white;
  padding: 2rem 1rem;
  max-width: 900px;
  margin: auto;
}

.h2-duv {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.accordion {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.accordion-item {
  background-color: #003366;
  border-radius: 1rem;
  padding: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.accordion-item:hover {
  background-color: #092744;
}

.accordion-title {
  font-size: 1.2rem;
  color: white;
  margin: 0;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  color: white;
  font-style: italic;
  margin-top: 0.5rem;
}

.accordion-item.active .accordion-content {
  max-height: 500px;
}

.iconPlus {
  height: 15px;
  width: 15px;
  margin-right: 10px;
  transition: transform 0.2s ease;
}

.accordion-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.accordion-title-container:hover .iconPlus {
  transform: scale(1.1);
}

.hover-hint {
  position: absolute;
  right: 0;
  bottom: -18px;
  font-size: 0.7rem;
  color: #ccc;
  opacity: 0;
  transition: opacity 0.3s;
}

.accordion-title-container:hover .hover-hint {
  opacity: 1;
}
