.carousel {
  position: relative;
  width: 100%;
  margin: auto;
  height: 500px; /* Ajusta a altura conforme o conteúdo */
  overflow: hidden;
}

.carousel-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.carousel-item {
  min-width: 100%; /* Garante que cada slide ocupe 100% da largura */
  height: 100%; /* Ajusta a altura conforme o contêiner */
}

.carousel .teste {
  width: 100%; /* Ajusta a imagem para ocupar toda a largura */
  height: auto; /* Mantém a proporção da imagem */
  display: block;
  object-fit: cover;
  display: block;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}

.carousel-btn.prev {
  left: 10px;
}

.carousel-btn.next {
  right: 10px;
}