.main-pilares{
  background-color: white;
  padding: 1 0;
  max-width: 1200px;
  margin: auto;
}
.subtitle-pilares{
  margin: auto;
  margin: 5rem 0;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
} 
.box-pilares{
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem; 
    margin: auto;
    gap: 0;
    width: 1000px;
}
.pilares-1{
  margin: auto;
  margin-bottom: 50px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.pilares-2{
  margin: auto;
  margin-bottom: 50px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.pil{
  display: flex;
  width: 350px;
  height: 200px;
  background-color: #003366;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  border-radius: 20px;
  padding: 0px 20px;
}
.pil:hover{
  background-color: #092744;
}
.pil > span, p{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.pil > span{
  font-size: 1.4em;
  line-height: 25px;
}
.pil > img{
  margin: auto;
}